.header{
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-family: Montserrat;
    @media (max-width: 600px) {
       flex-direction: column;
       align-items: center;
      }

    .logo{
       margin-bottom: 10px;
       margin-right: auto;
    }  

    .btn-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
    
        button {
            background: #FFFFFF;
            box-shadow:0 2px 4px rgba(3,27,78,.06);border:1px solid #e5e8ed;
            padding: 0.938em 1.500em;
            cursor: pointer; 
            font-size: .80em;
            
            &:not(:last-child) {
                border-right: none; 
            }
            &:first-child {
                border-radius: 15px 0  0 15px;
                &:hover{
                    color: #BDBDBD;
                }
             }
            &:nth-child(2) {
                color: #BDBDBD;
                &:hover{
                    color: #333333;
                }
            }
            &:last-child {
                border-radius: 0 15px 15px 0;
                padding: 0.65em 0.750em;
                
            }
        }
    }

    .material-icons{
      color:  rgba(235, 87, 87, 1);
      font-size: 1.5em;
    }
}